@media screen and (min-width: 860px) and (max-width:1349px) {

/* ----------------------------------------------------- */

.min, .max {
    display:none;
}

#c4 {
    padding:0 20px 100px 20px;
}

#menu {
    width:820px;
    position:absolute;
    top:450px;
    left:50%;
    margin-left:-410px;
}

#menu div.last {
    float:right;
    margin-right:0;
}

#main {
    margin:0 auto;
    width:820px;
}

#main .side2 {
    clear:both;
    width:100%;
}

/* ----------------------------------------------------- */

#splash {
    display:block;
    position:relative;
    width:100%;
    height:600px;
    margin:0px auto 0 auto;
    background:url("../img/splashclean.jpg") top center no-repeat;
    animation: swingy 2s linear infinite alternate;
    -moz-animation: swingy 2s linear infinite alternate;
    -webkit-animation: swingy 2s linear infinite alternate; 
    z-index:0;
}

#splashlogo {
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-400px;
}

#text-horizontal {
    position:absolute;
    top:185px;
    left:50%;
    margin-right:-400px;
}


#top {
    position:absolute;
    width:100%;
    height:590px;
    margin:50px auto 0 auto;
    background:url("../img/top.png") top left repeat-x;    
}

}